@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

@font-face {
    font-family: 'droidigaregular';
    src: url('../fontes/droidiga-webfont.woff2') format('woff2'),
         url('../fontes/droidiga-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}

body {
	background-color: #FEFEFE;
	height: 100%;
}

.colado {
	margin-top: -2px !important;
    margin-left: -1px !important;
}

.tituloMenu {
	color: #ffffff;;
	font-family: 'droidigaregular';
	margin-left: 1%;
	margin-right: 1%;
	margin-top: auto !important;
}

.campoPesquisar {
	margin-top: 1.2% !important;
	margin-right: 13px !important;
}

.campoPesquisarLogado {
	margin-top: 1.5% !important;
	margin-right: 13px !important;
}

.slogan {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.tituloCatalogo {
	color: #DB8432 !important;
	font-family: 'Josefin Sans', sans-serif !important;
	text-transform: uppercase !important;
}

.espacoSlide {
	margin-top: 4% !important;
}

.espacoLinha {
	margin-top: 3.5% !important;
}


/* Rodapé */

#rodape {
	background-color: #DB8432 !important;
	margin-bottom: -1px;
}

#espacoRodape {
	margin-top: 1.5%;
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase !important;
}

.colorRodape {
	color: #FEFEFE !important;
}

.semEspaco {
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase !important;
	margin-top: -0.2% !important;
}

.espacoAntesRodape {
	margin-top: 8%;
}

.espacoAntesRodapeIndex {
	margin-top: 5%;
}


/* Detalha Jogo */

.classificacaoBox {
	cursor: default !important;
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase !important;
	color: #293d54 !important;
}

.tituloJogo {
	margin-top: 4.5% !important;
	font-family: 'Josefin Sans', sans-serif !important;
	text-transform: uppercase !important;
	margin-bottom: 4.5% !important;
	color: #DB8432 !important;
	height: 0% !important;
}

.justificado {
	text-align: justify;
}

.tituloSegmento {
	margin-top: 4.2% !important;
	font-family: 'Josefin Sans', sans-serif !important;
	text-transform: uppercase !important;
	margin-bottom: 3% !important;
	color: #293d54 !important;
}

#tituloModalComentarios {
	margin-top: 4.2% !important;
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase !important;
	margin-bottom: 3% !important;
	color: #293d54 !important;
}

.espacoUsuario {
	margin-top: 70% !important;
}

.username {
	color: #354e6b !important;
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 500;
	margin-top: 16%;
	text-align: center;
}


.talk-bubble {
	text-align: justify;
	padding: 1.7%;
	margin: 40px;
	display: inline-block;
	position: relative;
	width: 80%;
	height: auto;
	background-color: #dee7f1;
	font-family: 'Roboto', sans-serif !important;
	border-radius: 5px;
}

.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: 30px;
	bottom: auto;
	border: 20px solid;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 50px;
	bottom: auto;
	border: 12px solid;
	border-color: #dee7f1 #dee7f1 transparent transparent;
}

.tituloResenha {
	color: #354e6b !important;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif !important;
}

.espacoComecoPost {
	margin-bottom: 3%;
}

.espacoFimPost {
	margin-bottom: 4%;
}
.corLabelAzul {
	cursor: auto !important;
	background-color: #58789E !important;
	color: #293d54 !important;
}

.corLabelLaranja {
	background-color: #f19e50 !important;
	color: #be7026 !important;
}

.aDireita {
	float: right;
}

.espacoEntreComentarios {
	margin-bottom: 5% !important;
}

#semComentarios {
	color:#DB8432;
	margin-top: 2% !important;
	text-align: center;
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase;
}

#logueSe {
	color: #293d54;
	margin-top: 2% !important;
	text-align: center;
	font-family: 'Muli', sans-serif !important;
	text-transform: uppercase;
}

.editarComentario {
	float: left !important;
	margin-right: 2% !important;
}

.excluirComentario {
	float: left !important;
}
/* Cadastro Resenha */

.espacoRodapeForm {
	margin-bottom: 3% !important;
}

.labelCadastraResenha {
	color: #293d54;
	font-family: 'Muli', sans-serif !important;
	margin-bottom: 2% !important;
	text-transform: uppercase !important;
}

.espacoAvaliacao {
	margin-top: 6% !important;
}

.labelEspacoAcima {
	margin-top: 5% !important;
}

.tituloLabelResenha {
	text-align: center;
	margin-top: 5% !important;
	font-family: 'Josefin Sans', sans-serif !important;
	text-transform: uppercase !important;
	margin-bottom: 4.5% !important;
	color: #DB8432 !important;
	height: 0% !important;
}

.cadastroResenha {
	margin-bottom: 4% !important;
}

.botaoCriar {
	float: right;
	background-color: #f19e50 !important;
	color: #95571d !important;
}

#postarUser {
	font-size: 15px;
	text-transform: uppercase;
	color: #293d54;
	margin-top: 16% !important;
}

.checkboxDireita {
	float: right !important;
}

/* Login */

#tituloLogin {
	text-align: center;
	font-family: 'droidigaregular' !important;
	text-transform: uppercase;
	margin-bottom: 5% !important;
}

#primeiroCampo {
	margin-top: 12% !important;
	margin-bottom: 8% !important;
}

.labelLoginCadUsuario {
	color: rgba(0,0,0,.4) !important; 
	margin-bottom: 1% !important;
}

.campoEspacoSuperior {
	margin-top: 8% !important;
}

#manterEsquerda {
	float: left !important;
}

#esqueciDireita { 
	margin-top: -4.5% !important; 
	float: right !important;
}

#linkEsqueciSenha {
	color: rgba(0,0,0,.4) !important;
}

.logarSe {
	margin-top: 7% !important;
}

#fundoLogin {
	background-image: url("../imagens/background-login.png");
}

/* Cadastro Usuário */

#fundoCadastroUsuario {
	background-image: url("../imagens/cadastro.png");
	background-size: cover;
}

#centralContainerCadUsuario {
	width:40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 5%;
    margin-bottom: 1%;
    margin-top: 5%;
	color: white !important;
	box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background:linear-gradient(0deg,#66b3ba,#293d54)!important;
}

.iconLoginCadUsuario {
	margin-right: 1.5% !important;
	color: rgba(0,0,0,.4);
}

.espacoCadUsuario {
	margin-top: 8% !important;
}
/* Página Usuário */

#imagemPerfilPagUsuario {
	margin-top: -5% !important;
}

#biografiaUsuario {
	font-weight: normal;
}

#botoesModalEsquerda {
	margin-top: 1%;
	float: left;
}

#botoesModalDireita {
	margin-top: 1%;
	float: right;
}

#espacoRodapePagUsuario {
	margin-bottom: 5%;
}

.iconeAdicionar {
	margin: 0% !important;
}

.tituloResenhaPagUsuario {
	text-align: center;
	margin-bottom: 13%;
}

.nomeJogoPagUsuario {
	float: right;
	margin-top: 13%;
}

/* Bem Vindo */

.resposta {
	overflow: hidden;
	background-image: url("../imagens/acessonegado.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.tituloMensagem {
	text-align: center;
	font-family: 'droidigaregular' !important;
	text-transform: uppercase;
	margin-bottom: 5% !important;
}

.subMensagem {
	font-family: 'Josefin Sans', sans-serif !important;
	text-transform: uppercase !important;
	text-align: center;
}

.centralContainerMensagem {
	width:40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 3%;
    margin-top: 12%;
	color: white !important;
	box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background:linear-gradient(0deg,#66b3ba,#293d54)!important;
}

.iconMensagem {
	margin-top: 5% !important;
	text-align: center;
}