body{
    margin: 0 !important;
}
.stkMenu{
    margin: 0px !important;
    background: #0d141dee !important;
    border-radius: 0% !important;
}
.noMargin{
    padding: 0% !important;
}
.gradient{
    background: radial-gradient(#66b3ba,#293d54,#1f2123);
    background-size: 300% 300%;
    animation: grad 60s linear infinite;
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    padding: 10%;
}
.gradient h1{
    margin-left: 40%;
    font-size: 50px;
    color: white;
}
@keyframes grad { 
    0%{
        background-position:0% 20%
    }
    50%{
        background-position:100% 81%
    }
    100%{
        background-position:0% 20%
    }
}