body{
    margin: 0 !important;
}
.stkMenu{
    margin: 0px !important;
    background: #0d141de5 !important;
    border-radius: 0% !important;
}
.noMargin{
    padding: 0% !important;
}
.gradient{
    background: linear-gradient(120deg, #1f2123, #66b3ba);
    background-size: 400% 400%;
    animation: grad 30s ease infinite;
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    padding: 10%;
}
.gradient h1{
    margin-left: 40%;
    font-size: 50px;
    color: white;
}
@keyframes grad { 
    0%{
        background-position:0% 20%
    }
    50%{
        background-position:100% 81%
    }
    100%{
        background-position:0% 20%
    }
}