@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.clear{
    clear: both;
    color: rgba(255, 255, 255, 0);

}


.indexImg{
    float: left;
    width: 100%;
    height: 250px;
    bottom: 0% fixed;
}

.zoom img {
    -moz-transition: all 0.3s!important;
    -webkit-transition: all 0.3s!important;
    transition: all 0.3s;
    border-radius: 1%;
    filter: brightness(60%) sepia(30%) grayscale(10%)!important;
}
  
.zoom:hover img {
    z-index: -10;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: grayscale(15%)!important;
    
}
  
.text-item {
    font-family: arial, hevetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
    bottom: -30px;
    width: 75%; 
    padding: 2%;
}

.estrelas{
    margin-bottom: 35px;
}

.parado{
    float: left;
    max-height: 250px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
    z-index: 1;
}

.dezPorcento{
    color: rgba(255, 255, 255, 0);
    float: left;
    width: 10%;
}

.dezPontoCincoPorcento{
    color: rgba(255, 255, 255, 0);
    float: left;
    width: 10.5%;
}

.modalImg{
    position: block;
    float: left;
    width: 37.5%;
}

.text-item {
    font-family: arial, hevetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
    bottom: -30px;
    width: 75%; 
    padding: 2%;
}

.estrelas{
    margin-bottom: 35px;
}

.parado{
    float: left;
    max-height: 250px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
    background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));
    z-index: 1;
}

.modalNome{
    text-transform: uppercase;
    float: right;
    font-family: 'Muli', sans-serif !important;
    color: #293D54; 
}

.modalAutor {
    float: right;
    font-family: 'Muli', sans-serif !important;
    color: #DB8432;
    text-transform: uppercase;
    margin-top: -3%;
}

.modalNotaAutor {
    text-align: left;
    font-family: 'Muli', sans-serif !important;
    color: #DB8432;
    text-transform: uppercase;
    margin-top: -3%;
}

.modalResenha{
    text-align: justify;
    float: left;
    font-family: arial, hevetica, sans-serif;
}

.espacoComentario {
    margin-top: 2.5% !important;
}

.modalAlinhamento{
    float: left;
}

.modalFechar{
    float: right;
}

.modalAbrir{
    cursor: pointer;
}

.nick{
    padding: 1%;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: #293d54;
    width: 30%;
    height: 60px;

}
.userPageImg{
    z-index: 0;
    width: 100%; 
    height:300px;
    
}

.userImg{
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 1;
    margin-top: -90px;
    /*margin-left: 42%;*/
}
.botaoDireita{
    float: right;
}

.botaoDireita a{
    color: #fff!important;
}

.quatroDoisPorcento{
    float: left;
    width: 42%;
    color: #fff;
}
.tresNovePorcento{
    width: 39%;
    float: left;
    color: #fff;
}
.userBio{
    float: left;
    width: 20%;
    text-align: center;
    background: #fff; 
}

.espacoFotoBio{
    width: 100%;
    height: 100px;
}
.resenhasPublicadas{
    width: 80%;
    float: left;
}

.notaResenha{
    float: right;
    width: 30%;

}

#espacoFotoPerfilLogado{
    width: 10px;
}

#imagemPerfilCabecalho{
    width: 32px;
    height: 32px;
    border-radius: 30%;
}

#nomeUsuarioLogado{
    text-align: center;
}

#botaoEditarUsuario{
    width: 9%;
}

.userPageImgEdit{
    filter: blur(4px);
}

.userPageImgEdit2{
    filter: blur(8px);
}

.flutuante{
    color: #1f1f1f8e;
    position: absolute;
    
}
#posicaoEditarCapa{
    margin-top: -13%;
    margin-left: 40%;
}
#posicaoEditarFoto{
    margin-top: -7%;
    margin-left: 48%;
    font-weight: 900;
}

#imagemPerfilPagUsuarioEdit{
    filter: blur()
}