@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.clear{
    clear: both;
    color: rgba(255, 255, 255, 0);

}


.indexImg{
    float: left;
    width: 100%;
    height: 250px;
    bottom: 0% fixed;
}

.zoom img {
    -moz-transition: all 0.3s!important;
    -webkit-transition: all 0.3s!important;
    transition: all 0.3s;
    border-radius: 1%;
    filter: brightness(60%) sepia(30%) grayscale(10%)!important;
}
  
.zoom:hover img {
    z-index: -10;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: grayscale(15%)!important;
    
}
  
.text-item {
    font-family: arial, hevetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
    bottom: -30px;
    width: 75%; 
    padding: 2%;
}

.estrelas{
    margin-bottom: 35px;
}

.parado{
    float: left;
    max-height: 250px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
    z-index: 1;
}

.dezPorcento{
    color: rgba(255, 255, 255, 0);
    float: left;
    width: 10%;
}

.dezPontoCincoPorcento{
    color: rgba(255, 255, 255, 0);
    float: left;
    width: 10.5%;
}

.modalImg{
    position: block;
    float: left;
    width: 37.5%;
}

.text-item {
    font-family: arial, hevetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
    bottom: -30px;
    width: 75%; 
    padding: 2%;
}

.estrelas{
    margin-bottom: 35px;
}

.parado{
    float: left;
    max-height: 250px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
    background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));
    z-index: 1;
}

.modalNome{
    text-transform: uppercase;
    float: right;
    font-family: 'Muli', sans-serif !important;
    color: #293D54; 
}

.modalAutor {
    float: right;
    font-family: 'Muli', sans-serif !important;
    color: #DB8432;
    text-transform: uppercase;
    margin-top: -3%;
}

.modalNotaAutor {
    text-align: center;
    font-family: 'Muli', sans-serif !important;
    color: #DB8432;
    text-transform: uppercase;
    margin-top: -3%;
}

.modalResenha{
    text-align: justify;
    float: left;
    font-family: arial, hevetica, sans-serif;
}

.espacoComentario {
    margin-top: 2.5% !important;
}

.modalAlinhamento{
    float: left;
}

.modalFechar{
    float: right;
}

.modalAbrir{
    float: right;
    cursor: pointer;
}