.clear{
    clear: both;
    color: #FEF;

}

.zoom{
    padding: 3%;
    overflow: hidden;
}

.indexImg{
    float: left;
    width: 100%;
    height: 250px;
    bottom: 0% fixed;
}

.zoom img {
    -moz-transition: all 0.3s!important;
    -webkit-transition: all 0.3s!important;
    transition: all 0.3s;
    border-radius: 1%;
    filter: brightness(60%) sepia(30%) grayscale(10%)!important;
}
  
.zoom:hover img {
    z-index: -10;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(1px) grayscale(15%)!important;
    
}
  
.text-item {
    font-family: arial, hevetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
    bottom: 27px;
    width: 75%; 
    margin-left: 2px;
}

.estrelas{
    margin-bottom: 35px;
}

.parado{
    float: left;
    max-height: 250px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
    /*background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));
    z-index: 1;*/
}

.dezPorcento{
    color: #FEF;
    float: left;
    width: 10%;
}

.dezPontoCincoPorcento{
    color: #FEF;
    float: left;
    width: 10.5%;
}

.modalImg{
    position: block;
    float: left;
    width: 37.5%;
}

.modalNome{
    float: right;
    max-width: 62%;
    font-family: 'Muli', sans-serif !important;
    color: #293D54; 
}

.modalResenha{
    float: right;
    width: 62%;
    font-family: arial, hevetica, sans-serif;

}

.modalAlinhamento{
    float: left;
    
}

.modalFechar{
    float: right;
    
}

.modalAbrir{
    cursor: pointer;
}